<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.wechat.mapper.WxAccountMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.wechat.pojo.WxAccount">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="appid" jdbcType="VARCHAR" property="appId" />
        <result column="appsecret" jdbcType="VARCHAR" property="appSecret" />
        <result column="token" jdbcType="VARCHAR" property="token" />
        <result column="domain" jdbcType="VARCHAR" property="domain" />
        <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
        <result column="token_time" jdbcType="VARCHAR" property="tokenTime" />
        <result column="menu_state" jdbcType="VARCHAR" property="menuState" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

</mapper>