<?xml version="1.0" encoding="UTF-8"?>
<!--Created by Chris on Fri Jan 11 2019 17:53:57 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.wechat.mapper.WxMemberMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.wechat.pojo.WxMember">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
        <result column="subscribe" jdbcType="VARCHAR" property="subscribe" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="sex_desc" jdbcType="VARCHAR" property="sexDesc" />
        <result column="language" jdbcType="VARCHAR" property="language" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
        <result column="subscribe_time" jdbcType="BIGINT" property="subscribeTime" />
        <result column="union_id" jdbcType="VARCHAR" property="unionId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="group_id" jdbcType="VARCHAR" property="groupId" />
        <result column="subscribe_scene" jdbcType="VARCHAR" property="subscribeScene" />
        <result column="qr_scene" jdbcType="VARCHAR" property="qrScene" />
        <result column="qr_scene_str" jdbcType="VARCHAR" property="qrSceneStr" />
        <result column="unsubscribe_time" jdbcType="BIGINT" property="unsubscribeTime" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
<!--
        <result column="privileges" jdbcType="VARCHAR" property="privileges" />
        <result column="tag_ids" jdbcType="VARCHAR" property="tagIds" />-->
    </resultMap>

    <sql id="basic_list">
		a.id, a.source_id, a.subscribe, a.open_id, a.nickname, a.sex, a.sex_desc, a.language, a.city, a.qr_code, a.province, a.country, a.head_img_url, a.subscribe_time, a.union_id, a.remark, a.group_id, a.subscribe_scene, a.qr_scene, a.qr_scene_str
	</sql>

    <select id="getListByParams" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM wx_member a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="sourceId!=null and sourceId!='' ">
                and a.source_id=#{ sourceId }
            </if>
            <if test="accountName!=null and accountName!='' ">
                and a.account_name LIKE CONCAT('%', #{ accountName }, '%')
            </if>
            <if test="subscribe!=null and subscribe!='' ">
                and a.subscribe LIKE CONCAT('%', #{ subscribe }, '%')
            </if>
            <if test="openid!=null and openid!='' ">
                and a.openid=#{ openid }
            </if>
            <if test="nickname!=null and nickname!='' ">
                and a.nickname LIKE CONCAT('%', #{ nickname }, '%')
            </if>
            <if test="sex!=null and sex!='' ">
                and a.sex LIKE CONCAT('%', #{ sex }, '%')
            </if>
            <if test="city!=null and city!='' ">
                and a.city LIKE CONCAT('%', #{ city }, '%')
            </if>
            <if test="country!=null and country!='' ">
                and a.country LIKE CONCAT('%', #{ country }, '%')
            </if>
            <if test="province!=null and province!='' ">
                and a.province LIKE CONCAT('%', #{ province }, '%')
            </if>
            <if test="headimgurl!=null and headimgurl!='' ">
                and a.headimgurl LIKE CONCAT('%', #{ headimgurl }, '%')
            </if>
            <if test="createTime!=null and createTime!='' ">
                and a.createTime LIKE CONCAT('%', #{ createTime }, '%')
            </if>
            <if test="userId!=null and userId!='' ">
                and a.user_id=#{ userId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
        </where>
    </select>

    <select id="getMemberByOpenId" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="basic_list"/>
        FROM wx_member a
        <where>
            a.open_id =  #{openId}
        </where>
    </select>
    <update id="setMemberTag" parameterType="map">
        update wx_member a set a.tag_ids = CONCAT_WS(',', a.tag_ids, #{tagId}) where open_id in (#{openids})
    </update>
</mapper>