<?xml version="1.0" encoding="UTF-8"?>
<!--Created by Chris on Fri Jan 11 2019 17:59:42 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.wechat.mapper.WxReplyMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.wechat.pojo.WxReply">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="account_id" jdbcType="VARCHAR" property="accountId" />
        <result column="key_word" jdbcType="VARCHAR" property="keyWord" />
        <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
        <result column="key_type" jdbcType="VARCHAR" property="keyType" />
        <result column="graphic_id" jdbcType="VARCHAR" property="graphicId" />
        <result column="num" jdbcType="BIGINT" property="num" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
    </resultMap>

    <sql id="basic_list">
        a.id, a.account_id, a.key_word, a.key_value, a.key_type, a.graphic_id, a.num, a.status, a.created
	</sql>

    <select id="getListByParams" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM wx_reply a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="accountId!=null and accountId!='' ">
                and a.account_id=#{ accountId }
            </if>
            <if test="keyWord!=null and keyWord!='' ">
                and a.key_word LIKE CONCAT('%', #{ keyWord }, '%')
            </if>
            <if test="keyValue!=null and keyValue!='' ">
                and a.key_value LIKE CONCAT('%', #{ keyValue }, '%')
            </if>
            <if test="keyType!=null and keyType!='' ">
                and a.key_type LIKE CONCAT('%', #{ keyType }, '%')
            </if>
            <if test="graphicId!=null and graphicId!='' ">
                and a.graphic_id=#{ graphicId }
            </if>
            <if test="num!=null and num!='' ">
                and a.num LIKE CONCAT('%', #{ num }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status LIKE CONCAT('%', #{ status }, '%')
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')
            </if>
        </where>
    </select>

</mapper>