<?xml version="1.0" encoding="UTF-8"?>
<!--Created by Chris on Fri Jan 11 2019 17:59:42 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.wechat.mapper.WxReplyMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.wechat.pojo.WxReply">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="account_id" jdbcType="VARCHAR" property="accountId" />
        <result column="keyword" jdbcType="VARCHAR" property="keyword" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="num" jdbcType="BIGINT" property="num" />
    </resultMap>

    <sql id="basic_list">
		a.id, a.account_id, a.keyword, a.title, a.pic, a.url, a.content, a.type, a.num
	</sql>

    <select id="listByPage" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM wx_reply a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="accountId!=null and accountId!='' ">
                and a.account_id=#{ accountId }
            </if>
            <if test="keyword!=null and keyword!='' ">
                and a.keyword LIKE CONCAT('%', #{ keyword }, '%')
            </if>
            <if test="title!=null and title!='' ">
                and a.title LIKE CONCAT('%', #{ title }, '%')
            </if>
            <if test="pic!=null and pic!='' ">
                and a.pic LIKE CONCAT('%', #{ pic }, '%')
            </if>
            <if test="url!=null and url!='' ">
                and a.url LIKE CONCAT('%', #{ url }, '%')
            </if>
            <if test="content!=null and content!='' ">
                and a.content LIKE CONCAT('%', #{ content }, '%')
            </if>
            <if test="type!=null and type!='' ">
                and a.type LIKE CONCAT('%', #{ type }, '%')
            </if>
            <if test="num!=null and num!='' ">
                and a.num LIKE CONCAT('%', #{ num }, '%')
            </if>
        </where>
    </select>

    <select id="selectlist" resultMap="BaseResultMap" parameterType="com.chris.bulleyeadmin.wechat.pojo.WxReply">
        SELECT
        <include refid="basic_list"/>
        FROM wx_reply a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="accountId!=null and accountId!='' ">
                and a.account_id=#{ accountId }
            </if>
            <if test="keyword!=null and keyword!='' ">
                and a.keyword LIKE CONCAT('%', #{ keyword }, '%')
            </if>
            <if test="title!=null and title!='' ">
                and a.title LIKE CONCAT('%', #{ title }, '%')
            </if>
            <if test="pic!=null and pic!='' ">
                and a.pic LIKE CONCAT('%', #{ pic }, '%')
            </if>
            <if test="url!=null and url!='' ">
                and a.url LIKE CONCAT('%', #{ url }, '%')
            </if>
            <if test="content!=null and content!='' ">
                and a.content LIKE CONCAT('%', #{ content }, '%')
            </if>
            <if test="type!=null and type!='' ">
                and a.type LIKE CONCAT('%', #{ type }, '%')
            </if>
            <if test="num!=null and num!='' ">
                and a.num LIKE CONCAT('%', #{ num }, '%')
            </if>
        </where>
    </select>
</mapper>