<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/my-admin.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd_HH:mm:ss} %logger{18} -%msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>1000</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<logger name="org" level="info" additivity="false">
		<appender-ref ref="FILE"></appender-ref>
		<appender-ref ref="STDOUT"></appender-ref>
	</logger>
	<logger name="com" level="info" additivity="false">
		<appender-ref ref="FILE"></appender-ref>
		<appender-ref ref="STDOUT"></appender-ref>
	</logger>
	<logger name="net" level="info" additivity="false">
		<appender-ref ref="FILE"></appender-ref>
		<appender-ref ref="STDOUT"></appender-ref>
	</logger>
	
	<logger name="com.netflix" level="debug" additivity="false">
		<appender-ref ref="STDOUT"></appender-ref>
		<appender-ref ref="FILE"></appender-ref>
	</logger>

	<logger name="com.chris.myadmin" level="debug" additivity="false">
		<appender-ref ref="STDOUT"></appender-ref>
		<appender-ref ref="FILE"></appender-ref>
	</logger>
	<root level="INFO">
		<appender-ref ref="ASYNC" />
	</root>
</configuration>