<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.myadmin.mapper.FunctionMapper">
  <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.pojo.Function">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>

  <sql id="basic_list">
    f.id,f.code,f.name,f.icon,f.url,f.describe,f.status,f.created
  </sql>
  <select id="listByPage" resultMap="BaseResultMap">
    SELECT
    <include refid="basic_list"/>
    FROM b_functions f order by f.id desc
  </select>

  <select id="getAllFunctions" resultMap="BaseResultMap">
    SELECT
    <include refid="basic_list"/>
    FROM b_functions f order by f.id desc
  </select>
</mapper>