<div th:fragment="JS" xmlns:th="http://www.w3.org/1999/xhtml">
    <script type="text/javascript" src="../../assets/global/jquery-3.3.1.min.js"></script>
    <script src="../../assets/global/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../assets/global/vue.js"></script>
    <script type="text/javascript" src="../../assets/chris/js/vue-component.js"></script>

    <script type="text/javascript" src="../../assets/global/js/xadmin.js"></script>
    <script type="text/javascript" src="../../assets/chris/js/base.js"></script>
    <script type="text/javascript" src="../../assets/chris/js/BaseModel.js"></script>
</div>

<div th:fragment="CSS" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../assets/global/css/font.css"/>
    <link rel="stylesheet" href="../../assets/global/css/xadmin.css"/>
</div>