<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.system.mapper.AccountRoleMapper">
  <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.system.pojo.AccountRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
</mapper>