<?xml version="1.0" encoding="UTF-8"?>
<!--Created by  on Sun Apr 28 2019 22:53:33 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.system.mapper.AccountRoleMapper">
  <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.system.pojo.AccountRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />

  </resultMap>

  <sql id="basic_list">
		a.id, a.role_id, a.account_id, a.created
	</sql>

  <select id="getListByParams" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="basic_list"/>
    FROM b_account_role a
    <where>
      <if test="id!=null and id!='' ">
        and a.id=#{ id }
      </if>
      <if test="roleId!=null and roleId!='' ">
        and a.role_id=#{ roleId }
      </if>
      <if test="accountId!=null and accountId!='' ">
        and a.account_id=#{ accountId }
      </if>
      <if test="created!=null and created!='' ">
        and a.created LIKE CONCAT('%', #{ created }, '%')
      </if>
    </where>
    order by a.created
  </select>

  <delete id="deleteByAccountId" parameterType="string">
     delete from b_account_role where account_id = #{accountId}
  </delete>
</mapper>