<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.system.mapper.LogsMapper">
  <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.system.pojo.Logs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id" jdbcType="VARCHAR" property="organizationId" />
    <result column="optname" jdbcType="VARCHAR" property="optionName" />
    <result column="opttype" jdbcType="VARCHAR" property="optionType" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
</mapper>