<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.system.mapper.MenuAuthMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.system.pojo.MenuAuth">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="BIGINT" property="created"/>

    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.chris.bulleyeadmin.system.dto.MenuAuthDto">
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
    </resultMap>

    <sql id="basic_list">
		a.id, a.name, a.menu_id, a.code, a.path, a.status, a.created,m.title as menuName
	</sql>

    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_menu_auth a
        left join b_menus m on m.id = a.menu_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="menuId!=null and menuId!='' ">
                and a.menu_id=#{ menuId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="path!=null and path!='' ">
                and a.path LIKE CONCAT('%', #{ path }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status LIKE CONCAT('%', #{ status }, '%')
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')
            </if>
        </where>
    </select>
</mapper>