<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.system.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.system.pojo.Menu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="created" jdbcType="BIGINT" property="created"/>

    </resultMap>
    <resultMap id="dto" type="com.chris.bulleyeadmin.system.dto.MenuDto" extends="BaseResultMap">
        <result column="menu_value" jdbcType="VARCHAR" property="value"/>
        <result column="menu_key" jdbcType="VARCHAR" property="key"/>
    </resultMap>

    <sql id="basic_list">
		a.id, a.parent_id, a.icon, a.code, a.title, a.path, a.status, a.sort, a.created
	</sql>
    <select id="getListByParams" resultMap="dto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,a.id as menu_key,a.id as menu_value
        FROM b_menus a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="parentId!=null and parentId!='' ">
                and a.parent_id=#{ parentId }
            </if>
            <if test="icon!=null and icon!='' ">
                and a.icon LIKE CONCAT('%', #{ icon }, '%')
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="title!=null and title!='' ">
                and a.title LIKE CONCAT('%', #{ title }, '%')
            </if>
            <if test="path!=null and path!='' ">
                and a.path LIKE CONCAT('%', #{ path }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status LIKE CONCAT('%', #{ status }, '%')
            </if>
            <if test="sort!=null and sort!='' ">
                and a.sort LIKE CONCAT('%', #{ sort }, '%')
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')
            </if>
        </where>
    </select>
    <select id="getMenusByAccountId" parameterType="string" resultMap="dto">
  		SELECT DISTINCT
			m.*
		FROM
			b_menus m
			LEFT JOIN b_role_menu rm ON rm.menu_id = m.id
		WHERE
			rm.role_id IN ( SELECT DISTINCT ar.role_id FROM b_account_role ar where ar.account_id = #{accountId})

		order BY m.sort ASC
  </select>

    <select id="getMenusByRoleId" parameterType="String" resultMap="BaseResultMap">
  		SELECT
			m.*
		FROM
			b_menus m
			LEFT JOIN b_role_menu rm ON rm.menu_id = m.id
		WHERE
			rm.role_id = #{roleId}
		ORDER BY
			m.sort ASC
  </select>

    <select id="getAllMenus" parameterType="String" resultMap="dto">
  		SELECT
			m.*,m.id as menu_key,m.id as menu_value
		FROM
			b_menus m
		ORDER BY
			m.sort ASC
  </select>

    <select id="getOrganizationMenus" parameterType="String" resultMap="dto">
        select m.*,if(om.id is null,0,1) as checked from b_menus m
        left join b_organization_menu om on om.menu_id = m.id and om.organization_id=#{ organizationId }
        <where>
            m.status = 1
        </where>
        order by m.sort
    </select>


    <select id="getOrganizationAuthMenus" parameterType="String" resultMap="dto">
        select * from b_menus m
        right join b_organization_menu om on om.menu_id = m.id and om.organization_id =#{ organizationId }
        where m.`status` = 1
    </select>
</mapper>