<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.system.mapper.MenuFunctionMapper">
  <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.system.pojo.MenuFunction">
    <!--
      WARNING - @mbg.generated
    -->
	  <id column="id" jdbcType="VARCHAR" property="id" />
	  <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
	  <result column="function_id" jdbcType="VARCHAR" property="functionId" />
	  <result column="created" jdbcType="BIGINT" property="created" />
  </resultMap>
	<resultMap id="dto" type="com.chris.bulleyeadmin.system.dto.MenuFunctionDto" extends="BaseResultMap">

	</resultMap>
</mapper>