<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.system.mapper.RoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.system.pojo.RoleMenu">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="is_leaf" jdbcType="BIT" property="isLeaf" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
    </resultMap>

    <resultMap id="dto" type="com.chris.bulleyeadmin.system.dto.RoleMenuDto">
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
        <result column="menu_path" jdbcType="TIMESTAMP" property="menuPath"/>
        <result column="menu_sort" jdbcType="INTEGER" property="menuSort"/>
    </resultMap>

    <sql id="basic_list">
		a.id, a.role_id, a.menu_id, a.status, a.is_leaf, a.created
	</sql>


    <select id="getListByParams" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_role_menu a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="roleId!=null and roleId!='' ">
                and a.role_id=#{ roleId }
            </if>
            <if test="menuId!=null and menuId!='' ">
                and a.menu_id=#{ menuId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="isLeaf!=null and isLeaf!='' ">
                and a.is_leaf = #{ isLeaf }
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')
            </if>
        </where>
        order by a.created
    </select>

    <select id="getMenusByRoleId" resultMap="dto" parameterType="String">
        select<include refid="basic_list"/>,m.name as menu_name,m.sort as menu_sort,m.path as menu_path,m.icon as
        menu_icon
        from b_role_menu rm
        left join b_menu m on m.id=rm.menu_id
        left join b_role r on r.id = rm_role_id
        <where>
            rm.role_id = #{roleId}
        </where>
    </select>

    <delete id="deleteByParams" parameterType="string">
        delete from b_role_menu where role_id=#{roleId}
    </delete>
</mapper>