<?xml version="1.0" encoding="UTF-8"?>
<!--Created by Chris on 2019-05-27 14:24:47-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bulleyeadmin.common.mapper.AttachFilesMapper">
    <resultMap id="BaseResultMap" type="com.chris.bulleyeadmin.common.pojo.AttachFiles">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId" />
        <result column="biz_id" jdbcType="VARCHAR" property="bizId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="download_count" jdbcType="INTEGER" property="downloadCount" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />

    </resultMap>

    <sql id="basic_list">
		a.id, a.organization_id,a.biz_id, a.name, a.path, a.download_count, a.status, a.created
	</sql>

    <select id="getListByParams" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_attach_file a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="bizId!=null and bizId!='' ">
                and a.biz_id=#{ bizId }
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="path!=null and path!='' ">
                and a.path LIKE CONCAT('%', #{ path }, '%')
            </if>
            <if test="downloadCount!=null and downloadCount!='' ">
                and a.download_count LIKE CONCAT('%', #{ downloadCount }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status LIKE CONCAT('%', #{ status }, '%')
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')E
            </if>
        </where>
    </select>
</mapper>